/* * {
    box-sizing: padding-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* main {
    background-color: aquamarine;
} */
/* 
.main-container {
    max-width: 1366px;
    margin: auto;
} */

/* a {
    text-decoration: none;
    color: #ffffff;
} */