.product {
    background-color: #F4EBE2;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.product-container {
    width: 350px;
    margin-left: 10rem;
}

.product-info {
    font-size: larger;
    text-align: justify;
}

.product-img {
    margin-left: auto;
}