ul.items {
    margin: 0;
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
}

li.item {
    list-style-type: none;
}

.item {
    width: 180px;
    height: 230px;
    border: 4px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.item:hover {
    transform: scale(1.2);
    transition: transform 1s ease-out;
}

.item-img {
    background-color: #ffffff;
}

.item-name {
    color: #ffffff;
    padding-bottom: 7px;
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
}