header {
    padding: 35px 0 0 0;
    background-color: #C2C3D5;
    margin: 0;
}

.header-footer-container {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #ffffff;
    margin: auto;
}

.header-container .flex-item {
    width: 300px;
    height: auto;
}

.logo {
    text-align: center;
}

.name {
    font-weight: bold;
    font-size: 45px;
    cursor: pointer;
}

/* nav {
    padding: 15px 0;
    margin: 0;
} */

/* nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
} */

/* nav li {
    margin-right: 150px;
    font-size: large;
} */

/* nav li:last-child {
    margin-right: 0;
} */
/* 
nav li:hover {
    transform: scale(1.2);
    transition: transform 1s ease;
} */