/* footer {
    padding: 20px 0;
    background-color: #C2C3D5;
    margin: 0;
} */

/* .footer-container {
    align-items: center;
} */

/* .footer-container .flex-item {
    width: 300px;
    height: auto;
} */

/* 
.footer-container .logo {
    text-align: start;
}

.footer-container .name {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
} */